* {
  letter-spacing: 0 !important;
}
body {
  margin: 0;

  box-sizing: border-box;
}

header {
  background-color: white;
}
header a {
  margin-left: 20px;
}
footer {
  padding-top: 30px;
  padding-top: 20px;
}
.navbar {
  height: 70px;
}
header .navbar a {
  height: 70px;
  color: black;

  font-weight: bold;
}
.navbar img {
  height: 50px;
}

li {
  float: right;
  list-style: none;
}
li a {
  text-decoration: none;
}
.containerCenter {
  text-align: center;
}
img {
  height: 60px;
}
.logo {
  background-size: 260px;
  height: 90px;

  margin: auto;
}
.containerCenter {
  margin-top: 100px;
}
.go {
  width: 100%;
  height: 70px;
  text-align: center;
  margin-bottom: 50px;
}
.btn {
  background-color: #e50914;
  color: #fff;
  height: 65px;
}
.btn:hover {
  background-color: #ff0000;
  color: #fff;
}
footer {
  background-color: #e6e6e6;
  height: 242px;
}
.site-footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 30px;

  margin: auto;
}
.site-footer ul li {
  list-style: none;
  width: 24%;
  list-style: none;
  margin-top: 10px;
}
.site-footer ul {
  margin-top: 0;
  margin-top: 15px;
}
.footer-link-item {
  color: #8c8c8c;
  display: inline-block;
  box-sizing: border-box;

  vertical-align: top;
}

.footer-link {
  text-decoration: none;
  margin-bottom: 16px;
  color: #737373;

  box-sizing: border-box;
  vertical-align: top;
}
.row {
  --bs-gutter-x: none;
}
.footer-link:hover {
  text-decoration: underline;
  margin-bottom: 16px;
  color: #737373;
}
.footer-top {
  color: #737373;
  margin-left: 30px;
}
.footer-top a {
  color: #737373;

  text-decoration: none;
}
.footer-top a:hover {
  color: #737373;

  text-decoration: underline;
}

.select-container {
  width: auto;
}
.select {
  background-color: #e6e6e6;
  border: 1px solid #737373;
  height: 48px;
  width: auto;
  width: 121px;
  margin-left: 30px;
  display: inline-block;
  display: flex;
}
.fa-solid {
  display: inline-block;

  height: auto;
  margin-left: 10px;
  color: #737373;
  margin-top: 15px;
  width: 20%;
}
.form-select {
  width: 80%;
  color: #737373;
  background-color: #e6e6e6;
  margin-top: 10px;
  height: 30px;
  border: none;
  font-size: 11px;
}
.column1 {
  width: 25%;
}

@media screen and (max-width: 480px) {
  .site-footer ul {
    margin-top: 0px;
  }
  .site-footer ul li {
    width: 40%;
  }
  img {
    height: 30px;
    width: 140px;
  }
  * {
    font-size: 13px;
    box-sizing: border-box;
  }

  .p-5 {
    padding: 6rem !important;
  }
  .simpleContainer {
    margin-top: 0px;
  }
  .mt-5 {
    margin-top: 0px;
  }
  .containerCenter {
    margin-top: 0px;
  }
  .column1 {
    width: 100%;
    margin: auto;
  }

  .columnx {
    width: 75%;
  }
}
@media screen and (max-width: 900px) {
  .column1 {
    width: 75%;
    margin: auto;
  }
  .go {
    margin-bottom: 0px;
  }
}
